#dashboardMainContainer{
    display:flex;
    flex-direction: row;
}
div.dashboard_sidebar{
    width: 30%;
}
div.dashboard_sidebar{
    width: 20%;
    background: #007bff;
    height: 150vh;
   
}
div.dashboard_content_container{
    width: 80%;
    background: #f4f6f9;
    height: 220vh;
    
}

.logotelecom {
    max-width: 100%;
    height: auto;
    padding: 10px; 
    display: block;
    width: 100%;
    height: auto;
    
  }
.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    
    
}
.dashboard_sidebar_user img{
    width: 80px;
    display:inline-block;
    border-radius: 50%;
    border: 2px solid #323232;
    margin-right: 5px;
    vertical-align: middle;

}
.dashboard_sidebar_user span{
    top: 20%;
    font-size:18px;
    text-transform: uppercase;
    color:#fff;
    display: inline-block;
}
ul.dashboard_menu_lists{
    padding: 0px;
    margin-top: 20px;
    width: 94.5%;
    text-align: left;
    
    
}
ul.dashboard_menu_lists li{
    padding : 15px 10px;
    font-size: 18px;
    text-transform : uppercase;
    list-style-type: none;
    width: 100%;
    
}
ul.dashboard_menu_lists li a{
    text-decoration: none;
    color:#fff;
    height: 100%;
    display: block;
    font-size: 20px;
    width: 100%;
    
}
ul.dashboard_menu_lists li:hover{
    background-color: hsl(198, 37%, 31%);
    color : #fff;
    transition: 0.3s all;   
}
ul.dashboard_menu_lists li.menuActive{
    background: rgb(122, 122, 214)
    color #fff;
}
div.dashboard_topNav{
    background: #fff;
    padding: 20px;

}
div.dashboard_topNav a{
    color: #848383;
    font-size: 18px;
    text-decoration: none;
}
a#logoutBtn{
    float: right;
}
.dashboard_content{
    padding: 50px 10px 10px 10px ;
}
.dashboard_content_main{
    background: #fff;
    height: 100%;
    min-height: 800px;
}
ul.dashboard_menu_lists li a i {
    font-size: 20px;
    margin-right: 15px;
}

form.appForm {
    width: 50%;
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid #cecfd0;
    border-radius: 5px;
}


form input.appFormInput {
    width: 100%;
    height: 29px;
    margin-bottom: 10px; 
    padding: 5px; 
    border: 1px solid #d6d7da;
    border-radius: 5px;
}


form button[type="submit"] {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    text-align: center;
}
form button[type="submit"].sa{
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    margin: 0 auto;
    text-align: center;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

form button[type="submit"] i {
    margin-right: 5px;
}
p.responseMessage{
    font-size: 30px;
    text-align: center;
    margin-top: 33px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
}
p.responseMessage_error{
    color: #6c1c1c;
}
p.responseMessage_success{
    color: #0056b3;
}
/* Style for the table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.actions a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.actions a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }

    .actions a {
        padding: 3px 8px;
    }
}
#edit-form {
    
    margin-top: 20px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
    max-width: 400px;
    margin: 20px auto 0; 
}


#edit-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left; 
}

#edit-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
}

#edit-form button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px; 
}

#edit-form button:hover {
    background-color: #0056b3;
}

#edit-form #cancel-edit {
    background-color: #ccc;
    margin-left: 5px; 
}

#edit-form #cancel-edit:hover {
    background-color: #999;
}
#collegeChart,
#specialityChart,
#internshipTypeChart {
    width: 30%; 
    height: 500px; 
    margin: 0 10px; 
    display: inline-block;
    vertical-align: top;
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    box-sizing: border-box; 
}


canvas {
    width: 400px!important;
    height: 450px !important;
    display: block;
}
.chart {
    width: calc(33.33% - 10px); 
    padding: 10px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    height: 470px;
}
.chart-container {
    
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 10%;
}

.searchform {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

.labelsearch {
    margin-right: 10px;
    font-size: 18px;
}

.inputsearch {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10%;
}

.sr {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-left: 50px; 
}

.sr:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .inputsearch {
        width: 100%; 
    }

    .sr {
        margin-top: 10px; 
        margin-left: 0; 
    }
}
.a2{
    margin-top: 5px;
}

.lol {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    margin: 0 auto; 
}

.tab {
    padding: 10px;
    border: 1px solid #ccc;
}

.tab {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.parag {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 45%;
    
}
.srtitle{
    margin-left: 42.5%;
}

@media (max-width: 768px) {
    .lol {
        font-size: 14px;
    }
}
.user-added-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
 
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 50%;
    margin-left: 23.9%;
    display: none;
}

.user-added-message p {
    text-align: center;
}
.intern-added-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
 
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 50%;
    margin-left: 23.9%;
    display: none;
}

.intern-added-message p {
    text-align: center;
}
#update_task{
    height: 100px;
}
textarea {
    font-size: 14px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical; 
    width: 94%;
    height: 80px;
  }
  #act{
    display: inline block;
  }
  .actions #ra {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 1px;
    cursor: pointer;
    font-size: 15px;
}
.actions #ra:hover {
    background-color: #0056b3;
}
.tt{
    width: 50%;
}
/* Additional styles for your contact bar */
.text-decoration-none {
    text-decoration: none!important;
  }
  
  .black-2-main {
    color: #000!important;
  }
  
  .light {
    font-weight: lighter!important;
  }
  
  .bold {
    font-weight: bold!important;
  }
  
  .line-height-115 {
    line-height: 1.15!important;
    font-size: 22px;
  }
  
  .font-22 {
    font-size: 22px!important;
  }
  
  .bg-dark {
    background-color: #000!important;
    /* You can adjust the background color as needed */
  }
  
  /* Styles for social icons */
  .social-icon {
    width: 40px!important;
    height: 40px!important;
    padding: 5px!important;
  }
  
  /* Responsive CSS for smaller screens */
  @media (max-width: 768px) {
    .aide-footer {
      height: auto;
      margin-bottom: 30px;
    }
  
    .aide-item {
      flex: none;
      width: 100%;
      margin: 5px 0;
    }
  }
  .align-content-center {
    align-content: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.w-100 {
    width: 100%!important;
}
.row2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
* {
    box-sizing: border-box;
}

.radius-75 {
    border-radius: 75px;
}
.aide-footer {
    height: 300px;
    margin-bottom: 60px;
}
.border-gray {
    border: 1px solid #bbb;
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.mx-4 {
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
    margin-top: 20px;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
* {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.aide-item {
    width: 205px;
}
.text-center {
    text-align: center!important;
}
.p-1 {
    padding: 0.25rem!important;
}
.right-bottom, .top-right {
    border-right: 0.5px solid #000;
}
.left-bottom, .right-bottom {
    border-bottom: 0.5px solid #000;
}
.social-icon {
    height: 40px;
    width: 40px;
}
.p-1 {
    padding: 0.25rem!important;
}
img, svg {
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.col {
    flex: 1 0 0%;
}
.py-1 {
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
}
.interns{
    text-align: center;
}
/* Style for the main container */
.dashboard_content_main {
    padding: 20px;
}

/* Style for the main heading */
.dashboard_content_main h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

/* Style for paragraphs */
.dashboard_content_main p {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
    margin: 0 0 20px;
}

/* Style for paragraph p2 (key features) */
.dashboard_content_main .p2 {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style for unordered list */
.dashboard_content_main ul {
    list-style-type: none;
    padding-left: 0;
}

/* Style for list items */
.dashboard_content_main li {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}
li.l2::before {
    content: '\2022'; /* Unicode character for bullet point */
    margin-right: 10px; /* Adjust the spacing between the bullet point and the list item text */
  }
  