/* Reset some default margin/padding */
body, h1, h2, h3, p, label, button {
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    max-width: 700px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.loginHeader {
    text-align: center;
    padding: 100px 0;
    flex-basis: 50%;
    border-right: 2px solid #ccc;
    box-sizing: border-box;
}

.loginHeader h1 {
    font-size: 36px;
    color: #333;
    margin: 0;
}

.loginHeader p {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
}

.logo {
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
div#errorMessage{
    background: #fff; text-align: center; color: rgb(188, 41, 41);
    font-size: 20px;
    padding: 11px;
    }
    .logo2 {
        flex-basis: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    
    .logo2 img {
        max-width: 100%;
        max-height: 100%;
    }
    .tt{
        margin-left: 78%;
    }
    .container{
        margin-top: 0px;
    }
